header{
    position: relative;
    padding: 1rem;
}

header small {
    position: absolute;
    top: 3rem;
    left: 6rem;
    color: rgb(100, 100, 100);
    font-size: 0.8rem;
    margin: 0;
}

header h1 {
    position: absolute;
    top: 1rem;
    left: 6rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin: 0;
    }

img#chess-icon {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 70px; 
    height: auto; 
}

body{
    background-color: rgb(255, 255, 255);
}